
@use '../../assets//styles/globalStyles.scss';

.moments-formField {
    width: 100%;
    text-align: left;	
    position:relative;
	margin-bottom:25px;

    .formLabel {
        position:absolute;
        top:0px;
        left:0px;
        font-size:16px;
        color:black;	
        pointer-events:none;
        transition: all 0.5s ease-in-out;
    }
    .formField {
        border: 0;
        border-bottom: 1px solid #555;  
        background: transparent;
        width: 100%;
        padding: 8px 0 5px;
        font-size: 16px;
        &:focus{
            border: none;	
            outline: none;
            border-bottom: 2px solid globalStyles.$cts-primary-color;	
        }
    }
    .error-field {
        color: red;
        font-size: 14px;
    }
}

.moments-formField .formField:focus ~ .formLabel,
.formField:not(:placeholder-shown) ~ .formLabel {
	top: -12px;
	font-size: 12px;
    color: globalStyles.$cts-primary-color;
}