.modalPopupWrapper {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    overflow: hidden;
    outline: 0;
    background: rgba(0, 0, 0, 0.3);

    .modalPopupDialog {
        position: relative;
        width: auto;
        max-width: 90%;
        margin: 100px auto;
    }

    .modalPopupContent {
        background-color: white;
        width: 100%;
    }
}

