@use '../../assets//styles//globalStyles.scss';

.createAccountUpload.modalPopupWrapper {
    top: -65px;
    bottom: -65px;
    left: -300px;
    right: -300px;
    @media(min-width: 1600px){
        top: -120px;
        bottom: -120px;
    }
}

.modalPopupWrapper {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    overflow: hidden;
    outline: 0;

    .modalPopupDialog {
        position: relative;
        width: auto;
        max-width: 90%;
        margin: 60px auto;
    }

    .modalPopupContent {
        background-color: white;
        width: 100%;
    }
}

.cropImageWrapper {
    border: 1px dashed globalStyles.$base-bg-color;
    margin: 0px 30px;
    box-sizing: border-box;
    background-color: white;
    @media(min-width: 1600px){
        padding: 20px;
    }

    .imageUploadHeader {
        padding: 10px;
        font-size: 16px;
    }

    .cropImageUpload {
        text-align: center;
        display: inline-block;
        padding: 20px;
        margin-right: 85px;
    }
    .cropImageBtns {
        padding: 30px;
    }
    .cropImageSection {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .originalImage {
            width: 250px;
            height: 250px;
            border: 1px solid black;
            overflow: hidden;
            @media(min-width: 1600px){
                width: 280px;
                height: 280px;
            }

        }
        .croppedImage {
            width: 220px;
            height: 220px;
            border-radius: 50%;
            border: 1px solid black;
            @media(min-width: 1600px){
                width: 250px;
                height: 250px;
            }
            .croppedImageElem {
                width: 220px;
                height: 220px;
                border-radius: 50%;
                @media(min-width: 1600px){
                    width: 250px;
                    height: 250px;
                }
            }
        }
        .imageTitle {
            display: block;
            font-size: 16px;
            font-weight: bold;
            padding: 10px;
        }
    }
}

.closeIcon {
    position: absolute;
    right: 38px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
}
.closeIcon:hover {  
    opacity: 1;
}
.closeIcon:before, .closeIcon:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.closeIcon:before {
    transform: rotate(45deg);
}
.closeIcon:after {
    transform: rotate(-45deg);
}