@use '../../assets/styles/globalStyles.scss';

.postCard_Wrapper {
    margin: 20px;
    .post_Card {
       display: inline-block;
       border: 1px solid #cccc;
       width: 70%;
       border-radius: 15px;
       margin: 30px 100px;
       box-sizing: border-box;
       background: whitesmoke;
    }
    .image_section {
        position: relative;
        min-height: 200px;
        &.empty_img {
            min-height: 80px;
        }
        .card_header {
            position: absolute;
            top: 0px;
            right: 0px;
            left: 0px;
            display: flex;
            justify-content: space-between;

            .card_header_left {
                padding: 12px;
                text-align: left;
                color: white;
                border-bottom-right-radius: 20px;
                border-top-left-radius: 15px;
                background: black;
                opacity: 0.5;
            }

            .card_header_right {
                padding: 5px;
                text-align: left;
            }

            .card_title_img {
                font-size: 22px;
                
            }
            .card_title {
                font-size: 22px;
                color: globalStyles.$cts-primary-color;
            }
            .card_date {
                display: block;
                font-size: 12px;
            }
            .card_more_icon {
                width: 15px;
                cursor: pointer;
                padding: 6px 1px;
                margin: 0 2px;
                background: white;
                opacity: 0.6;
                border-radius: 7px;
                &:first-child {
                    display: list-item;
                    margin: 5px 2px;
                }
            }
        }
        .card_image {
            width: 100%;
            max-height: 450px;
            border-radius: 15px;
        }
    }
    .card_tags {
        float: left;
        color: #484848;
        font-size: 12px;
        font-weight: 500;
        padding: 10px;
    }
    .card_likes , .card_comments{
        display: inline-block;
        padding: 10px;
        .card_like_icon {
            width: 20px;
            cursor: pointer;
        }
    }
    .card_message {
        text-align: left;
        float: left;
        padding: 10px 10px 20px;
        font-size: 16px;
        box-sizing: inherit;
        width: 100%;
        word-break: break-word;
        border-bottom: 1px solid globalStyles.$cts-primary-color;

    }
    .comments-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 10px;

        .comment-input {
            border-radius: 100px;
            width: 40%;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 2px solid #ccc;
        }
        .comment-btn {
            background: transparent;
            border-top: 2px solid gainsboro;
            border-bottom: none;
            border-left: none;
            border-right: none;
            width: 200px;
        }
    }
    .comments-wrapper{
        padding: 3px 20px;
        max-height: 550px;
        overflow: auto;
        .post-comment {
            margin: 5px;
            display: flex;
            align-items: center;
            border-radius: 30px;
            text-align: left;
            font-size: 14px;;
            &.new-reply-comment {
                margin-left: 100px;
                .replyMsg-wrapper {
                    width: 100%;
                    padding: 5px 10px;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 25px;
                    box-sizing: border-box;
                    outline: none;
                    .replyMsg-name {
                        padding-right: 4px;
                        font-weight: 500;
                    }
                    .post-reply-input {
                        border: none;
                        padding: 0px;
                        outline: none;
                        background: transparent;
                    }
                }
            }
            .post-comment-user {
                color: globalStyles.$cts-primary-color;;
                text-transform: capitalize;
                padding-right: 5px;
            }
            .post-comment-border {
                border-bottom: 2px solid black;
                width: 30px;
                margin: 0 2px;
            }
            .post-comment-msg {
                text-align: right;
                background: #f2f3f5;
                background: white;
                padding: 6px 15px;
                border-radius: 50px;
                word-break: break-word;
                text-align: left;
                min-width: 25%;
                .post-comment-reply {
                    font-size: 12px;
                    text-align: right;
                    font-weight: 600;
                    .card-reply-btn {
                        width: 12px;
                        margin: 0 4px;
                        &:hover {
                            font-weight: bold;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .post-comment.reply-comments {
            margin-left: 100px;
        }
    }
}



.comment-section {
    overflow-y: auto;
    overflow-x: auto;
}