@use '../../assets//styles/globalStyles.scss';

.profile-wrapper {
    .profile-form {
        padding: 100px;
        .profile-btns-wrapper{
            text-align: left;
            .profie-btns:first-child{
                margin-right: 10px;
            }
        }
        .profile-form-img {
            padding: 0px 0px 40px;
            >img {
                border-radius: 100px;;
            }
        }
    }
    .password-wrapper {
        border: 1px solid globalStyles.$cts-primary-color;
        padding: 5px 15px;
        border-radius: 15px;
    }

    .password-msg {
        text-align: left;
        color: globalStyles.$cts-primary-color;
        font-weight: 500;
        cursor: pointer;
        margin: 22px 0px;
    }
    .submitErrors {
        text-align: left;
        color: red;
        margin: 30px 0px;
        padding-left: 5px;
        border-left: 2px solid red;
    }
}