@use '../../assets//styles//globalStyles.scss';

.headerWrapper {
    width: 100%;
    height: 75px;
    margin: 0 auto 65px;
    position: fixed;
    background-color: rgba(255, 255, 255, .15);
    // backdrop-filter: blur(5px);
    z-index: 1;
    background: black;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23743424'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%230b0503'/%3E%3Cstop offset='1' stop-color='%23753424'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23150907'/%3E%3Cstop offset='1' stop-color='%23763525'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23200e0a'/%3E%3Cstop offset='1' stop-color='%23773525'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%232a130d'/%3E%3Cstop offset='1' stop-color='%23783625'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23351810'/%3E%3Cstop offset='1' stop-color='%23793625'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%233f1c14'/%3E%3Cstop offset='1' stop-color='%237a3726'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%234a2117'/%3E%3Cstop offset='1' stop-color='%237b3726'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%2354261a'/%3E%3Cstop offset='1' stop-color='%237c3826'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%235f2b1d'/%3E%3Cstop offset='1' stop-color='%237d3826'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23692f21'/%3E%3Cstop offset='1' stop-color='%237e3927'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23743424'/%3E%3Cstop offset='1' stop-color='%237f3927'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    .headerItems-left {
        float: left;
        margin: 22px;
    }
    .headerItems-right {
        float: right;
        font-size: 23px;
        margin: 40px 20px;
        width: auto;
        .userName-display {
            color:  globalStyles.$cts-primary-color;
            font-weight: 500;
            text-transform: capitalize;
            background: black;
            border-radius: 48px;
            padding: 2px 20px;
        }
        .username-icon{
            border: solid globalStyles.$cts-primary-color;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 5px;
            cursor: pointer;
            position: relative;
            vertical-align: top;
        }
        .username-icon.arrow-down{
            transform: rotate(45deg);
        }
        .username-icon.arrow-up{
            transform: rotate(-135deg);
            vertical-align: middle;
            margin-bottom: 3px;
        }
        .userDropdown {
            list-style-type: none;
            width: 100px;
            border: 2px solid globalStyles.$cts-primary-color;
            border-radius: 10px;
            border-top: none;
            font-size: 14px;
            padding: 0px;
            margin: 0px;
            .userDropdownItem {
                padding: 5px;
                cursor: pointer;
                &:hover {
                    color: globalStyles.$cts-primary-color;
                }
            }
        }
    }
    .header-dp {
        height: 100px;
        padding: 2px;
        background: darkgray;
        transition: all 1s;
        border-radius: 80px;
    }
    .navbar_border {
        width: 88%;
        margin: 0 auto;
        left: 0px;
        padding-top: 75px;
        right: 15px;
        box-shadow: 0 5px 7px -7px black;
        position: fixed;
        z-index: -1;
    }
    .app-title {
        position: absolute;
        right: 0px;
        left: 0px;
        font-size: 20px;
        .appLinks {
            text-decoration: none;
            color: wheat;
            padding: 20px;
            &:hover {
                color: white;
            }
            &.active {
                color: globalStyles.$cts-primary-color;
                font-stretch: expanded;
                font-family: system-ui;
                color: black;
                font-size: 60px;
                background: linear-gradient(90deg, #330606 0%, #ff6a4c 100%, #148687 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}


