@use '../../assets/styles/globalStyles.scss';

 .spinnerOverlay {
   position: absolute;
   top: 0px;
   z-index: 20000;
   display: block;
   left: 0px;
   right: 0px;
   bottom: 0px;
   width: 100%;
   height: 1000px;
   background-color: rgba(0,0,0,0.6);
 }

.loader {
   border: 6px solid;
   border-radius: 50%;
   border-top: 6px solid globalStyles.$cts-primary-color;
   width: 120px;
   height: 120px;
   animation: spin 2s linear infinite;
   position: fixed;
   top: calc(50% - 50px);
   left: 0px;
   right: 0px;
   bottom: 0px;
   margin: 0 auto;
 }
 
 /* Safari */
 @-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

