@use '../../../assets//styles//globalStyles.scss';

.loginWrapper {
    border: 1px solid black;
    position: absolute;
    width: 45%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 20px;

    .loginError {
        margin: 80px auto 0px;
        color: red;
    }

    .loginTitleSection {
        .loginTitle {
            display: block;
            color: globalStyles.$cts-primary-color;
            font-size: 36px;
            font-family: Brush Script MT, Brush Script Std, cursive;;

        }
        .loginSubTitle {
            font-size: 20px;
            margin: 10px 0px;
            display: block;
        }
       
    }
    .loginSection, .signinSection {
        .loginFields {
            margin: 20px 0px;
        }
        .moment-inputField {
            width: 100%;
        }
        .createLink {
            float: left;
            color: globalStyles.$cts-primary-color;
            padding: 10px 0px;
            cursor: pointer;
        }
        .signInBtn {
            float: right;
        }
        .picture-uploadSection {
            float: left;
            padding: 20px;
            .picture-uploadLink {
                color: #dc6344;
                padding: 5px;
                cursor: pointer;
            }
        }
    }

    .signinSection { 
        .signInBtn {
            margin: 15px 0px;
        }
    }
}