@use '../../assets//styles/globalStyles.scss';

.btn-default {
    border-radius: 20px;
    color: globalStyles.$cts-primary-color;
    background-color: globalStyles.$base-bg-color;
    border: 1px solid globalStyles.$base-bg-color;
    font-size: 14px;
    cursor: pointer;
    width: 150px;
    height: 35px;
    padding: 0 20px;
    outline: none;
}

.btn-large {
    width: 100%;
}

.btn-default[disabled]{
    opacity: 0.8;
    cursor: not-allowed;
}

.btn-default:hover{
    color: globalStyles.$base-bg-color;
    background-color: globalStyles.$cts-primary-color;
}