@use '../../assets/styles//globalStyles.scss';

.moments-form {
    width: 75%;
    padding: 20px;
    height: auto;
    display: inline-block;
    box-sizing: border-box;

    .form-textfield {
        border-radius: 35px;
        margin: 10px 0px;
        outline: none;
    }
    .fileUpload {
        float: left;
        width: auto;
    }
    .form-btns {
        float: right;
        .form-post-btn, .form-clear-btn {
            width: 50px;
            font-size: 12px;
            color: globalStyles.$cts-primary-color;;
            height:50px;
            border-radius: 40px;
            &:hover {
                background-color: globalStyles.$cts-primary-color;;
                color: black;
            }
            &:first-child {
                margin:0 2px;
            }
        }
    }
}