.moments-fileUpload {
    background-image: url('../../assets/images/camera.png');
    background-repeat: no-repeat;
    background-size: 30px auto;
    height: 30px;
    width: 30px;

    %inputFile-styles {
        width: 30px;
        height: 30px;
        opacity: 0;
        -webkit-appearance: none;
        appearance: none;
    }

    .moments-inputFile, input[type=file] {
        height: 30px;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        cursor: pointer;
    }
    .moments-inputFile::-webkit-file-upload-button {
      @extend %inputFile-styles;
    }
    input[type=file]::-webkit-file-upload-button {
        @extend %inputFile-styles;
    }
}

.moments-inputField {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

