.App {
  text-align: center;
  background-color: #f5f5f5;
  /* background-color: #000000; */

  /* background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.35'%3E%3Cpolygon fill='%232c140e' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2358281b' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23843b29' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23b04f36' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23dc6344' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover; */
/* 
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect fill='none' stroke-width='1' stroke-opacity='0.41' id='a' x='-400' y='-300' width='800' height='600'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='rotate(180 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23000' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%230f0705' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%231d0d09' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%232c140e' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%233b1a12' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23492117' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%2358281b' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23672e20' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23753524' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%23843b29' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%2393422d' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%23a14932' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23b04f36' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%23bf563b' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%23cd5c3f' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23dc6344' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */

}