$cts-primary-color: #dc6344;
$cts-secondary-color: #254E58;
$base-bg-color: #18181E;

// $cts-primary-color: #dc6344;

// Scroll bar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: $cts-primary-color;
    border-radius: 10px;
}

.moments-wrapper {
    padding-top: 100px;
    background-color: transparent;
    width: 65%;
    margin: 0 auto;
    border: 1px solid lightgrey;
    border-top: none;
    border-bottom: none;
    min-height: 100vh
}